<li class="list-item">
    <a class="post-card" href="/post/{{id}}">
        <div>
            <div class="card-header">
                <h2 class="card-title">{{title}}</h2>
                <h4 class="post-date">Post by {{user.user_name}} on {{format_date createdAt}}</h4>
            </div>
            <div class="card-content">
                <p class="text-content">{{content}}</p>
            </div>
        </div>
    </a>
</li>